.container {
  min-width: 960px;
  max-width: 1280px;
  height: 400px;
  margin: 0 auto;
  margin-top: 70px;
}

#spinner {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}